{% extends 'base.html.twig' %}

{% block title %}#{{ recipe.id }} {{recipe.slug}}{% endblock %}
{% block body %}

<h1 align="center">{{ recipe.title |title }}</h1>

<h1 align="center">Modifier la recette</h1>
   <div class = "row">
        <div class= "col-md-6 mx-auto">
        
            {{ form(monForm)}} 
            </div>
    </div>
 {# <button class="btn-danger">Click me</button> #}
{# para exibir um campo especifico do form( recupera o title) #}

{# {{ form_start(monForm) }}
    <div class = "d-flex">
        {{ form_row(monForm.title) }}
        {{ form_row(monForm.duration) }}
    </div>
    {{ form_end(monForm) }}  #}
  
{% endblock %}
